{% extends '::plantilla1.html.twig' %} 

{% block title%}ComicVisor - {{datos.nombre}}{% endblock %}

{% block body%}
<div class="col-md-4">
    
    <div class="card card-inverse portada2">
  <img src="{{ asset ('img/portada/')}}{{datos.portada}}.jpg" class="center-block paginav" alt="portada comic">
  <div class="card-img-overlay">
   <h5 class="amarillo2"> {{datos4.voto|round(1, 'floor')}} <span class="ion-ios-star"></span></h5>
  </div>
</div>
    
    <!--<img src="{{ asset ('img/portada/')}}{{datos.portada}}.jpg" class="center-block portada2" alt="portada comic">-->
</div>
<div class="col-md-7 contenedorpr">
    <div class="row">
        <h2><span class="ion-information-circled verde">  </span>  Datos sobre {{datos.nombre}}</h2>
    </div>
    <div class="row margintop">
        <p><span class="ion-edit informacion2" >  autor  </span> <span class="informacion1"> {{datos.autor}} </span></p>
        <hr>
    </div>
    <div class="row">
        <p><span class="ion-calendar informacion2">  Fecha de salida </span> <span class="informacion1"> {{datos.fechaSalida|date('d-m-Y')}} </span></p>
         <hr>
    </div>
    <div class="row">
        <p><span class="ion-checkmark informacion2">  Estado </span>  <span class="informacion1"> {{datos.estado}} </span></p>
         <hr>
    </div>
    <div class="row">
        <p><span class="ion-document-text informacion2">  Sipnosis </span>  <span class="informacion1"> {{datos.descripcion}} </span></p>
         <hr>
    </div>
    <div class="row">
        <p><span class="ion-pricetags informacion2">      Categorias </span> <span class="informacion1">{% for dato in datos3 %}{{dato.tipo}}   {% endfor %}</span>  </p>
        <hr>
    </div>
</div> 

{% endblock %}

{% block body2%}
<h2>Lista de capitulos</h2>
<div id="manita" class="list-group">
    {% set cap = '' %}
    {% for dato in datos2 %}
    {% if dato.numero != cap %}
    {% set cap = dato.numero %}
    <a  class="list-group-item" onclick="Toggle({{dato.numero}})">{{dato.nombre}} - {{dato.numero}} - {{dato.titulo}}</a>
    <a  href="{{dato.portadaNombre}}/{{dato.numero}}/{{dato.id}}/1" class="list-group-item oculto {{dato.numero}}" >{{dato.nombre}} - {{dato.numero}} - {{dato.titulo}} - {{dato.nick}}</a>
    {% else %}
    <a  href="{{dato.portadaNombre}}/{{dato.numero}}/{{dato.id}}/1" class="list-group-item oculto {{dato.numero}}" >{{dato.nombre}} - {{dato.numero}} - {{dato.titulo}} - {{dato.nick}}</a>
    {% endif %}
    {% endfor %}
    
</div>
{% endblock %}

{% block scripts%}
<script>
    document.getElementById("manita").style.cursor = "pointer";
    $(".oculto").hide();
    function Toggle(numero){
        
        $("."+numero+"").fadeToggle(300);
    }
</script>
{% endblock %}