{% extends '::plantilla1.html.twig' %} 

{% block title%}ComicVisor{% endblock %}

 {% block body %}
 
 {% if pagina == 1 %}
         <a href="../../{{numero-1}}" class="flecha" ><div class="col-xs-4 col-sm-2 "><span class="ion-ios-undo center-block2"></span></div></a>
         
         <div class="col-xs-4 col-sm-8 text-center">
             <select id="select1" onchange="Cambiar(1)" class="center-block lista">
             {% for i in 1..paginas.numeroPag %}
                {% if i == pagina %}
                    <option value="{{i}}" selected="selected">{{i}}</option>
                {% else %}
                    <option value="{{i}}">{{i}}</option>
                {% endif %}
            {% endfor %}
            </select>
         </div>
         <a href="{{pagina+1}}" class="flecha"><div class="col-xs-4 col-sm-2 "><span class="ion-chevron-right center-block2"></span></div></a>
         
         
         <div class="card col-xs-12">
              <a href="{{pagina+1}}"><img class="center-block paginav" src="{{ asset ('img/comic/')}}{{portada}}/{{numero}}/{{id}}/{{pagina}}.jpg" alt="Card image cap"></a>
         </div>
         
         <a href="../../{{numero-1}}" class="flecha"><div class="col-xs-4 col-sm-2"><span class="ion-ios-undo center-block2"></span></div></a>
          
         <div class="col-xs-4 col-sm-8">
             <select id="select2" onchange="Cambiar(2)" class="center-block lista">
             {% for i in 1..paginas.numeroPag %}
                {% if i == pagina %}
                    <option value="{{i}}" selected="selected">{{i}}</option>
                {% else %}
                    <option value="{{i}}">{{i}}</option>
                {% endif %}
            {% endfor %}
            </select>
         </div>
         
          <a href="{{pagina+1}}" class="flecha"><div class="col-xs-4 col-sm-2"><span class="ion-chevron-right center-block2"></span></div></a>
 
 {% elseif pagina == paginas.numeroPag %} 
 
          <a href="{{pagina-1}}" class="flecha" ><div class="col-xs-4 col-sm-2 "><span class="ion-chevron-left center-block2"></span></div></a>
         
         <div class="col-xs-4 col-sm-8 text-center">
             <select id="select1" onchange="Cambiar(1)" class="center-block lista">
             {% for i in 1..paginas.numeroPag %}
                {% if i == pagina %}
                    <option value="{{i}}" selected="selected">{{i}}</option>
                {% else %}
                    <option value="{{i}}">{{i}}</option>
                {% endif %}
            {% endfor %}
            </select>
         </div>
         <a href="../../{{numero+1}}" class="flecha"><div class="col-xs-4 col-sm-2 "><span class="ion-ios-redo center-block2"></span></div></a>
         
         
         <div class="card col-xs-12">
             <img class="center-block paginav" src="{{ asset ('img/comic/')}}{{portada}}/{{numero}}/{{id}}/{{pagina}}.jpg" alt="Card image cap">
         </div>
         
         <a href="{{pagina-1}}" class="flecha"><div class="col-xs-4 col-sm-2"><span class="ion-chevron-left center-block2"></span></div></a>
          
         <div class="col-xs-4 col-sm-8">
             <select id="select2" onchange="Cambiar(2)" class="center-block lista">
             {% for i in 1..paginas.numeroPag %}
                {% if i == pagina %}
                    <option value="{{i}}" selected="selected">{{i}}</option>
                {% else %}
                    <option value="{{i}}">{{i}}</option>
                {% endif %}
            {% endfor %}
            </select>
         </div>
         
          <a href="../../{{numero+1}}" class="flecha"><div class="col-xs-4 col-sm-2"><span class="ion-ios-redo center-block2"></span></div></a>
 {% else %}
         
         <a href="{{pagina-1}}" class="flecha" ><div class="col-xs-4 col-sm-2 "><span class="ion-chevron-left center-block2"></span></div></a>
         
         <div class="col-xs-4 col-sm-8 text-center">
             <select id="select1" onchange="Cambiar(1)" class="center-block lista">
             {% for i in 1..paginas.numeroPag %}
                {% if i == pagina %}
                    <option value="{{i}}" selected="selected">{{i}}</option>
                {% else %}
                    <option value="{{i}}">{{i}}</option>
                {% endif %}
            {% endfor %}
            </select>
         </div>
         <a href="{{pagina+1}}" class="flecha"><div class="col-xs-4 col-sm-2 "><span class="ion-chevron-right center-block2"></span></div></a>
         
         
         <div class="card col-xs-12">
              <a href="{{pagina+1}}"><img class="center-block paginav" src="{{ asset ('img/comic/')}}{{portada}}/{{numero}}/{{id}}/{{pagina}}.jpg" alt="Card image cap"></a>
         </div>
         
         <a href="{{pagina-1}}" class="flecha"><div class="col-xs-4 col-sm-2"><span class="ion-chevron-left center-block2"></span></div></a>
          
         <div class="col-xs-4 col-sm-8">
             <select id="select2" onchange="Cambiar(2)" class="center-block lista">
             {% for i in 1..paginas.numeroPag %}
                {% if i == pagina %}
                    <option value="{{i}}" selected="selected">{{i}}</option>
                {% else %}
                    <option value="{{i}}">{{i}}</option>
                {% endif %}
            {% endfor %}
            </select>
         </div>
         
          <a href="{{pagina+1}}" class="flecha"><div class="col-xs-4 col-sm-2"><span class="ion-chevron-right center-block2"></span></div></a>
         
 {% endif %}
 {% endblock %}


{% block scripts %}  

<script>
    
    function Cambiar(num)
    {
        if(num==1)
        {
        window.location.href = ""+$("select[id=select1]").val();+"";
        }
        else
        {
        window.location.href = ""+$("select[id=select2]").val();+"";
        }
    }
</script>
{% endblock %}